*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 3.5rem;
  text-align: center;
  // color: #4287f5 ;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .change-btn {
    cursor: pointer;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.3rem 1rem;

    // font-weight: bold;
    font-size: 1.2rem;

    &:hover {
      background-color: #ccc;
    }
  }
  .download-btn {
    cursor: pointer;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.3rem 1rem;

    // font-weight: bold;
    font-size: 1.2rem;

    &:hover {
      background-color: #ccc;
    }
  }
}
